html, body {
  padding:0;
  margin:0;
  height:100%;
}

header {
  background-color:#115EA2;
  min-height:100px;
  width:100%;
  position:relative;
}

#footer {
  position:fixed;
  width:100%;
  bottom:0;
  height:35px;
  background-color: #115EA2;
}

header img {
  float:left;
  display:inline;
}

header h2 {
  text-align:center;
  font-size:44px;
  color:#FFFFFF;
  left:0px;
  top:20px;
  font-weight:bold;
  font-family: Sans-serif;
  float:left;
  margin-top:20px;
  margin-left:20px;
  text-decoration:none;
}

header h2, a, a:visited, a:hover, a:active {
  color: #FFFFFF;
  text-decoration: none;
}

/* NAVIGATION BAR CODE */
nav {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  min-width: 800px;
  text-align:center;
  height: 20px;
  padding: 0 20px;
  margin-top: 10px;
}

nav a {
  font-size: 14px;
  margin: 10px 0;height:20px;
  padding: 2px 10px;
  color: #000;
  text-decoration: none;
}

nav a:hover {
  background-color: #333;
}

.innerCard{
	margin: 2.5%;
}

.innerCard{
	text-align: center;
}

.innerCard ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.items-collection {
    margin:20px 0 0 0;
}

.blue-background {
    background-color:#007ba7;
    color:#FFF;
}

.items-collection label.btn-default {
    width:90%;
    border:1px solid #305891;
    margin:5px;
    border-radius: 17px;
    color: #305891;
}

.items-collection label .itemcontent {
    width:100%;
}

.items-collection .btn-group {
    width:90%
}

.glyphicon {
  font-size: 1.5em;
}
